<div class="container-login">
	<div class="row justify-content-center">
		<div class="col-xl-6 col-lg-12 col-md-9">
			<div class="card shadow-sm my-5">
				<div class="card-body p-0">
					<div class="row">
						<div class="col-lg-12">
							<div class="login-form">
								<div class="text-center">
									<h1 class="h4 text-gray-900 mb-4">Login</h1>
								</div>
								<div  style="color: red;">
									<p>{{error}}</p>
								</div>

								<form class="user" #loginForm="ngForm" (ngSubmit)="onlogin(loginForm)">
									<div class="form-group">
										<input class="form-control" id="exampleInputEmail" type="email" placeholder="Enter email address" ngModel name="email" required email
											#email="ngModel" />
										<div class="help-text" *ngIf="email.touched && !email.valid" style="color: red;">
											<div *ngIf="email.errors.required">Email is required</div>
											<div *ngIf="email.errors.email">Email is invalid</div>
										</div>
									</div><br>
									<div class="form-group">
										<input class="form-control" id="exampleInputPassword" type="password" placeholder="Enter Password" ngModel name="password"
											required minlength="6" #password="ngModel" autocomplete="on" />
										<div class="help-text" *ngIf="password.touched && !password.valid" style="color:red;">
											<div *ngIf="password.errors.required">Password is required</div>
											<div *ngIf="password.errors.minlength">
												Password must contain atleast 6 characters
											</div>
										</div>
									</div><br>
									<div class="form-group">
										<div class="custom-control custom-checkbox small"
											style="line-height: 1.5rem; display: block;">
											<input type="checkbox" class="custom-control-input" id="customCheck" ngModel name="checkbox"  [(ngModel)]="rememberMe">
											<label class="custom-control-label" for="customCheck">Remember
												Me</label>
										</div>
									</div> 
									<div class="form-group" style="text-align: center; ">
										<button class="btn btn-primary btn-block btn-real" [disabled]="!loginForm.valid" style="width: 450px; background-color: rgb(247, 171, 30);">Login</button>
									</div>
								</form><br>
								
								<div class="text-center">
									<a class="font-weight-bold small" routerLink="/forget-password">Forgot Password?</a>
								</div>
								<div class="text-center">
									<a class="font-weight-bold small" >Create an Account!</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>