<div class="container-login">
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-12 col-md-9">
            <div class="card shadow-sm my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="login-form">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-2">Forget Password</h1>
                                    <p>Enter your email address. You will receive an
                                        email with a link to reset your password.</p>
                                </div>

                                <form class="user" [formGroup]="authFormGroup" (ngSubmit)="onSubmit(authFormGroup)">
                                    <div style="color: red; text-align: center;">
                                        <p>{{error}}</p>
                                    </div> <br>
                                    <div class="form-group">
                                        <input type="password" placeholder="Enter new password" name="password"
                                            formControlName="password" autocomplete="on">
                                        <div
                                            *ngIf="authFormGroup.get('password').invalid && authFormGroup.get('password').touched">
                                            <span *ngIf="authFormGroup.get('password').errors?.required"
                                                style="color: red;">**Please enter the
                                                password</span>
                                            <span *ngIf="authFormGroup.get('password').errors?.minlength"
                                                style="color: red;">**Minimum 6 digits are
                                                required</span>
                                            <!-- <span *ngIf="authFormGroup.get('password').errors?.pattern"
                                                style="color: red;">**Only alphabets are
                                                allowed</span> -->
                                        </div>
                                    </div><br>
                                    <div class="form-group">
                                        <input type="password" placeholder="Enter new confirm password"
                                            name="confirmPassword" formControlName="confirmPassword" autocomplete="on">
                                        <div
                                            *ngIf="authFormGroup.get('confirmPassword').invalid && authFormGroup.get('confirmPassword').touched">
                                            <span *ngIf="authFormGroup.get('confirmPassword').errors?.required"
                                                style="color: red;">**Please enter the
                                                confirm password</span>
                                            <span *ngIf="authFormGroup.get('confirmPassword').errors?.minlength"
                                                style="color: red;">**Minimum 6 digits are
                                                required</span>
                                            <span *ngIf="authFormGroup.get('confirmPassword').errors.confirmPasswordValidator"
                                                style="color: red;">**Password & Confirm password do not match</span>
                                        </div>
                                    </div><br>

                                    <div class="form-group" style="text-align: center; ">
                                        <button class="btn btn-primary btn-block btn-real"
                                            [disabled]="!authFormGroup.valid"
                                            style="width: 450px; background-color: rgb(247, 171, 30);">Login</button>
                                    </div>
                                </form><br>


                                <div class="text-center">
                                    <span>Already registered e-mail can</span>
                                    <a class="font-weight-bold small" routerLink="/admin/auth"> Log-In </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>