<!-- Sidebar -->
<ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
      <div class="sidebar-brand-icon">
        <img src="../../../../assets/img/logo-sorce-05.png">
      </div>
      <div class="sidebar-brand-text mx-3">E - COMMERCE</div>
    </a>
    <hr class="sidebar-divider my-0">
    <li class="nav-item active">
      <a class="nav-link" routerLink="/dashboard/main-dashboard">
        <!-- <i class="fa fa-american-sign-language-interpreting fa-5x"></i> -->
        <i class="fa fa-tachometer" aria-hidden="true"></i>
        <span>Dashboard</span></a>
    </li>
    <hr class="sidebar-divider">
    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/dashboard/product" data-toggle="collapse" data-target="#collapseBootstrap"
        aria-expanded="true" aria-controls="collapseBootstrap">
        <i class="far fa-fw fa-window-maximize"></i>
        <span>Product</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/dashboard/category" data-toggle="collapse" data-target="#collapseForm" aria-expanded="true"
        aria-controls="collapseForm">
        <i class="fab fa-fw fa-wpforms"></i>
        <span>Category</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/dashboard/attribute" data-toggle="collapse" data-target="#collapseTable" aria-expanded="true"
        aria-controls="collapseTable">
        <i class="fas fa-fw fa-table"></i>
        <span>Attribute</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard/brand">
        <i class="fas fa-fw fa-palette"></i>
        <span>Brand</span>
      </a>
    </li>
  </ul>
  <!-- Sidebar -->
